p {
	margin: 0 0 6px;
}
a {
	color: dodgerblue;
	text-decoration: none;
}

header h1,
main > section h2 {
	border-bottom: 2px solid #CCC;
	margin: 0 0 12px;
	padding: 0 0 4px;
}

html {
	background: #F5F5F5;
	font-size: 14px;
}
body {
	display: block;
	border-sizing: border-box;
	margin: 0 auto;
	padding: 16px;
	max-width: 800px;
	background: white;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

header {
	margin-bottom: 24px;
}
header .name {
	font-size: 1.2em;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

nav,
nav ul,
nav li,
nav a {
	display: block;
	margin: 0;
	padding: 0;
}
nav {
	width: 184px;
	padding-top: 6px;
	float: left;
}
nav.floating {
	position: fixed;
	top: 0;
}
nav a {
	padding: 6px;
	margin-bottom: 6px;
	color: #333;
	background: #DDD;
}
nav a:hover,
nav a:active {
	color: white;
	background: #666;
}

main {
	margin-left: 200px;
}
main section > section,
main section > .contentWarning {
	margin: 24px 0;
}
main section section {
    position: relative;
	padding: 16px;
	overflow: hidden;
	text-align: justify;
	background: #FAFAFA;
	border: 1px solid #DDD;
}
main section section > * {
	margin-left: 166px
}
main section section.claimed::after {
    content: 'Claimed';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    padding-top: 40px;
    text-align: center;

    color: #AAA;
    font-size: 48px;
    font-weight: bold;

    background: rgba(255, 255, 255, 0.9);
}
main section section .images {
	float: left;
	width: 152px;
	margin: 4px 0 0;
}
main section section .images img {
	border: 1px solid white;
	outline: 1px solid #CCC;
}

main section section h3 {
	margin-top: 0;
	font-size: 20px
}

main section section table {
	margin: 0 0 8px;
}
main section section table th {
	padding: 0 12px 6px 0;
	vertical-align: top;
}
main section section table td {
	padding: 0 0 6px;
}

/* CONTENT WARNING */
main .contentWarning {
	border: 1px solid #999;
}
main .contentWarning > a {
	display: block;
	padding: 12px;
	color: #666;
	font-weight: bold;
}
main .contentWarning > section {
	display: none;
}
main .contentWarning:target {
	border: none;
}
main .contentWarning:target > a {
	display: none;
}
main .contentWarning:target > section {
	display: block;
}

.contact a {
	display: block;
	margin: 0 0 2px;
	padding: 0 20px 0 0;
	line-height: 16px;
	text-align: right;

	background-position: right center;
	background-repeat: no-repeat;
	background-size: 14px 14px;
}
.contact a[href^="mailto:"] {
	background-image: url("images/mail.svg");
}
.contact a[href^="tel:"] {
	background-image: url("images/phone.svg");
}
.contact a[href^="https://www.facebook.com"] {
	background-image: url("images/facebook.svg");
}
.contact a[href^="xmpp:"] {
	background-image: url("images/gplus.svg");
}
.contact a[href^="skype:"] {
	background-image: url("images/skype.svg");
}

footer {
	border-top: 2px solid #CCC;
	margin: 12px 0 0;
	overflow: hidden;
	padding: 12px 0 0;
}
footer address {
	float: right;
	font-style: normal;
}
footer .html5 {
	display: block;
	float: left;
	line-height: 5em;
}
footer .html5 img {
	vertical-align: bottom;
}
